


@font-face {
             font-family: 'pragmatica';
			 src: url('pragmatica.ttf') format('truetype');
			 font-weight: normal;
			 font-style: normal; 			 
           }
		   
@font-face {
             font-family: 'calibri';
			 src: url('calibri.ttf') format('truetype');
			 font-weight: normal;
			 font-style: normal; 			 
           }
		   
body
	{
		font-family: 'pragmatica';
		-webkit-appearance: none;
	}
	
div td
	{
		font-family: 'pragmatica';
	}
	
ul
	{
		display:inline;
	}
	
a
	{
		text-decoration: none;
	}


	
	
.house_info
	{
		font-family: 'pragmatica';
	}
	
.basic_template
	{
		position: absolute; 
		top: 0px; 
		left: 0px; 
		width: 100%; 
		z-index: 2;
	}
@media screen and (max-width:1500px) {    /* стиль текстов - типы товаров */
    .basic_template { 
        width: 100%; 
    }}
	

.background_fixed
	{
		position: absolute; 
		width: 100%; 
		height: 100%; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
	}
	
	
.min_image_text
	{
		position: absolute; 
		width: 98%;  
		text-align: center; 
		color: #fff;
		font-weight: bold;
		font-family: calibri;
		letter-spacing: 2px;
		text-shadow: 2px 2px 3px rgba(113, 76, 70, 1);
	}
		   

@media screen and (max-width:3000px) 		/* стиль текстов - типы товаров */
	{  
		.min_image_text
			{
				font-size: 45px;
			}
		.house_info 
			{ 
				font-size: 13; 
			}
	}
@media screen and (max-width:1800px) 
	{ 
		.min_image_text
			{
				font-size: 35px;
			}
		.house_info  
			{ 
				font-size: 11;
			}
	}
@media screen and (max-width:1350px) 
	{ 
		.min_image_text
			{
				font-size: 25px;
			}
		.house_info  
			{ 
				font-size: 9; 
			}
	}
@media screen and (max-width:1200px) 
	{ 
		.min_image_text
			{
				font-size: 35px;
			}
		.house_info  
			{ 
				font-size: 8; 
			}
	}
@media screen and (max-width:1100px) { 
    .house_info  { 
        font-size: 7; 
    }}	
@media screen and (max-width:1000px) { 
    .house_info  { 
        font-size: 6; 
    }}
@media screen and (max-width:900px) { 
    .house_info  { 
        font-size: 5; 
    }}
	


.house_div
	{
		background: none;
		z-index: 1;
	}
	
.house_div:hover
	{
		background: rgba(255, 255, 255, 0.8);
		padding: 5px;
		margin-top: -5px;
		margin-left: -5px;
		z-index: 2;
		cursor: pointer;
	}
	
.booking_tentative
	{
		position: relative;
		width: 70px; 
		height: 55px; 
		background: rgba(255, 165, 0, 1);
	}
	
.booking_select
	{
		position: relative;
		width: 70px; 
		height: 55px;
		background: rgba(173, 255, 47, 1);
	}
	
.past_booking
	{
		position: relative;
		width: 70px; 
		height: 55px;
		background: #ddd;
	}
	
.past_booking_busy
	{
		position: relative;
		width: 70px; 
		height: 55px;
		background: #bbb;
	}
	
.booking
	{
		position: relative;
		cursor: pointer;
		width: 70px; 
		height: 55px; 
		background: #fff;
	}
	
.paid_booking
	{
		position: relative;
		width: 70px; 
		height: 55px; 
		background: rgba(150, 0, 0, 1);
	}
	
.booking:hover
	{
		background: rgba(173, 255, 47, 1);
	}
	
.top_button
	{
		position: relative; 
		float: left;
		font-family: pragmatica;
		width: 25px; 
		background: #fff; 
		border-radius: 5%; 
		font-size: 12px;
		padding: 7px 5px 7px 5px; 
		margin-left: 5px;
		margin-top: 5px;
		color: #888;
		z-index: 3;
	}
.top_button:hover
	{
		background: rgba(113, 76, 70, 1);
		color: #fff;
		cursor: pointer;
	}
	
.close
	{
		position: absolute; 
		font-family: pragmatica;
		background: #fff; 
		border-radius: 20px; 
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px; 
		padding-right: 10px;
		color: #000;
		z-index: 3;
	}
.close:hover
	{
		background: rgba(113, 76, 70, 1);
		cursor: pointer;
	}
	
	
.noredakt_text
	{
		font-size: 18px; 
		font-family: pragmatica; 
		background: none; 
		border: none; 
		color: #fff; 
		padding-right: 10px;
		padding-left: 10px;
		font-weight: bold;
	}

@media screen and (max-width:3000px) 
	{	
		.wall
			{
				top: 0px; 
				left: 0px;
				position: relative; 
				width: 100%; 
				overflow: auto;
			}
	}
@media screen and (max-width:800px) 
	{	
		.wall
			{
				top: 0px; 
				left: 0px;
				position: relative;  
				width: 800px; 
				overflow: auto;
			}
	}
	

.map_left
	{
		position: absolute; 
		left: 0px;
		width: 100px; 
		height: 100%; 
		background: rgba(0, 0, 0, 0.2); 
		z-index: 4;
	}
.map_left:hover	
	{
		background: rgba(0, 0, 0, 0.3); 
	}
	
	
.map_right
	{
		position: absolute;
		right: 0%;		
		width: 100px; 
		height: 100%; 
		background: rgba(0, 0, 0, 0.2); 
		z-index: 4;
	}
.map_right:hover	
	{
		background: rgba(0, 0, 0, 0.3); 
	}	
	
	

	
@media screen and (max-width:3000px)
	{
		.basis_width
			{
				left: 0px;
				width: 100%;
			}
	}
@media screen and (max-width:800px) 
	{
		.basis_width
			{
				left: 0px;
				width: 800px;
			}
	}
	

	
.tmpl_booking
	{
		position: relative;
	}
	
@media screen and (max-width:3000px)
	{
		.tmpl_booking
			{
				left: 0px;
				width: 100%;
			}
	}
@media screen and (max-width:800px) 
	{
		.tmpl_booking
			{
				left: 0px;
				width: 800px;
			}
	}
	
	
.final_button
	{
		background: none;
		border: solid 1px #CAA79C;
		border-style: outset;
		border-radius: 2px;
		font-family: pragmatica; 
		color: #fff;  
		padding-left: 15px; 
		padding-right: 15px; 
		padding-top: 3px;
		padding-bottom: 3px;
		cursor: pointer;
	}
.final_button:hover	
	{
		border-style: inset;
		background: rgba(113, 76, 70, 1);
	}
	
.final_button_down
	{
		border: solid 1px #CAA79C;
		border-style: inset;
		background: rgba(113, 76, 70, 1);
		border-radius: 2px;
		font-family: pragmatica; 
		color: #eee;
		padding-left: 15px; 
		padding-right: 15px; 
		padding-top: 3px;
		padding-bottom: 3px;
		cursor: pointer;
	}

.final_button_noactive
	{
		background: none;
		border: solid 1px #CAA79C;
		border-style: outset;
		border-radius: 2px;
		font-family: pragmatica; 
		color: rgba(113, 76, 70, 1);  
		padding-left: 15px; 
		padding-right: 15px; 
		padding-top: 3px;
		padding-bottom: 3px;
	}	

	
.number_select
	{
		border: solid 1px #CAA79C;
		border-radius: 2px;
		border-style: outset;
		background: none;
		color: #fff;
		font-size: 20px;
	}
.number_select:hover	
	{
		border-style: inset;
		background: rgba(113, 76, 70, 1);
	}
	
.current_number
	{
		border: solid 1px #CAA79C;
		border-radius: 2px;
		border-style: inset;
		background: rgba(113, 76, 70, 1);
		color: #fff;
		font-size: 22px;
	}
	
.working_day
	{
		width: 80px; 
		height: 20px; 
		background: rgba(143, 106, 100, 1); 
		font-size: 11px; 
		color: #fff;
	}
	
.weekend_day
	{
		width: 80px; 
		height: 20px; 
		background: rgba(255, 0, 0, 1); 
		font-size: 11px; 
		color: #fff;
	}
	
	
	

.div_get_month
	{
		
	}
	

.get_month
	{
		position: relative;
		z-index: 999;
	}
.get_month:hover
	{
		width: 100px;
		overflow: auto;
	}
.get_month:focus
	{
		width: 100px;
		overflow: auto;
	}
	
.all_month
	{
		height: 100%;
		position: relative;
		z-index: 999;
	}
.all_month input
	{
		position: relative;
		background: #fff;
		border: none;
		padding: 5px 0px 5px 0px;
		width: 100%;
		z-index: 999;
	}
	
.all_month input:hover
	{
		background: #1E90FF;
		color: #fff;
		width: 100%;
	}
	
.get_month .all_month
	{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100px;
		display: none;
	}
.get_month:hover .all_month
	{
		display: block;
		background: #fff;
	}
.get_month:focus .all_month
	{
		display: block;
		background: #fff;
	}
	
	
	
.back_next
	{
		background: none; 
		border: none; 
		color: #fff; 
		font-weight: bold;
		font-size: 25px;
	}
	
	
	
	
	
.div_get_tarif
	{
		
		left: 400px;
		top: 80px;
	}
	

.get_tarif
	{
		position: absolute;
		background: #fff;
		z-index: 999;
	}
.get_tarif:hover
	{
		width: 122px;
		height: 100px;
	}
.get_tarif:focus
	{
		width: 122px;
		height: 100px;
	}
	
.all_tarif
	{
		height: 100%;
		position: relative;
		z-index: 999;
	}
.all_tarif input
	{
		width: 100%;
		position: relative;
		background: #fff;
		border: none;
		padding: 5px 0px 5px 0px;
		width: 100%;
		z-index: 999;
	}
	
.all_tarif input:hover
	{
		background: #1E90FF;
		color: #fff;
		width: 100%;
	}
	
.get_tarif .all_tarif
	{
		display: none;
	}
.get_tarif:hover .all_tarif
	{
		display: block;
		background: #fff;
	}
.get_tarif:focus .all_tarif
	{
		display: block;
		background: #fff;
	}
	
	
	
	
	
	
	
.get_autorization
	{ 
		text-decoration: underline; 
		color: #FFF;
		font-size: 15px;
		cursor: pointer;
		display: block;
	}
.get_autorization:hover	
	{
		color: #FFA500;
	}
	
.noget_autorization
	{
		text-decoration: underline; 
		color: rgba(113, 76, 70, 1);
		font-size: 15px;
		display: none;
	}
	
	
	
.parallax {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}	
	
	

.white_text
	{
		font-family: calibri;
		color: #fff;
		text-shadow: 2px 2px 2px rgba(113, 76, 70, 1);
	}




.top_menu
	{
		position: fixed; 
		top: 0px; 
		left: 0px; 
		width: 100%; 
		height: 40px; 
		background: #CAA79C; 
		z-index: 980;
	}
	
	
	
.top_menu_section
	{
		padding: 0px 15px 0px 15px;
		color: #fff;
		text-decoration: none;
		height: 100%;
		cursor: pointer;
		background: none;
		border: none;
		letter-spacing: 0px;
		font-size: 20px;
		font-family: calibri;
		outline: none;
	}
.top_menu_section:hover
	{
		background: rgba(0, 0, 0, 0.1);
	}
.top_menu_turning
	{
		width: 90px; 
		padding: 10px;		
		cursor: pointer;
		background: #fff; 
		float: right; 
		border-radius: 5px;
		margin-right: 20px;
		display: none;
	}
	
.input_account
	{
		position: absolute;  
		top: 70px; 
		width: 200px; 
		padding: 0px 0px 5px 0px; 
		z-index: 3; 
		background: #CAA79C; 
		border-radius: 3px; 
		padding: 10px 0px 10px 0px;
		right: 110px;
	}
	
	
.house_panel
	{
		position: absolute; 
		left: 110px; 
		top: 70px; 
		width: 445px; 
		padding: 0px 10px 10px 10px;
		-moz-transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		-o-transform: matrix(1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	}
	
.interval_residence
	{
		position: absolute;
		top: 70px;
		left: 585px;
		background: #CAA79C;
		padding: 0px 10px 10px 10px;
		border-radius: 3px;
		-moz-transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		-o-transform: matrix(1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	}
.interval_residence input
	{
		margin-top: 8px;
	}
	
.account_display
	{
		position: absolute; 
		right: 320px; 
		top: 70px; 
		z-index: 2;
	}
	
@media screen and (max-width:3000px) 
	{
		.top_menu_section
			{
				font-size: 20px;
			}
		.account_display
			{
				-moz-transform: matrix(1, 0, 0, 1, 0, 0);
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				-o-transform: matrix(1, 0, 0, 1, 0, 0);
				-ms-transform: matrix(1, 0, 0, 1, 0, 0);
			}
		.input_account
			{
				-moz-transform: matrix(1, 0, 0, 1, 0, 0);
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				-o-transform: matrix(1, 0, 0, 1, 0, 0);
				-ms-transform: matrix(1, 0, 0, 1, 0, 0);
			}
		.house_panel
			{
				-moz-transform: matrix(1, 0, 0, 1, 0, 0);
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				-o-transform: matrix(1, 0, 0, 1, 0, 0);
				-ms-transform: matrix(1, 0, 0, 1, 0, 0);
			}
		.interval_residence
			{
				-moz-transform: matrix(1, 0, 0, 1, 0, 0);
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				-o-transform: matrix(1, 0, 0, 1, 0, 0);
				-ms-transform: matrix(1, 0, 0, 1, 0, 0);
			}
	}		
	
@media screen and (max-width:1500px) 
	{
		.top_menu_section
			{
				font-size: 17px;
			}
		.account_display
			{
				-moz-transform: matrix(0.8, 0, 0, 0.8, 55, -10);
				-webkit-transform: matrix(0.8, 0, 0, 0.8, 55, -10);
				-o-transform: matrix(0.8, 0, 0, 0.8, 55, -10);
				-ms-transform: matrix(0.8, 0, 0, 0.8, 55, -10);
			}
		.input_account
			{
				-moz-transform: matrix(0.8, 0, 0, 0.8, 20, -20);
				-webkit-transform: matrix(0.8, 0, 0, 0.8, 20, -20);
				-o-transform: matrix(0.8, 0, 0, 0.8, 20, -20);
				-ms-transform: matrix(0.8, 0, 0, 0.8, 20, -20);
			}
		.house_panel
			{
				-moz-transform: matrix(0.9, 0, 0, 0.9, -20, -7);
				-webkit-transform: matrix(0.9, 0, 0, 0.9, -20, -7);
				-o-transform: matrix(0.9, 0, 0, 0.9, -20, -7);
				-ms-transform: matrix(0.9, 0, 0, 0.9, -20, -7);
			}
		.interval_residence
			{
				-moz-transform: matrix(0.9, 0, 0, 0.9, -50, -7);
				-webkit-transform: matrix(0.9, 0, 0, 0.9, -50, -7);
				-o-transform: matrix(0.9, 0, 0, 0.9, -50, -7);
				-ms-transform: matrix(0.9, 0, 0, 0.9, -50, -7);  
			}
	}
	
@media screen and (max-width:1350px) 
	{
		#top_menu_buttons
			{
				display: block;
			}
		.top_menu_turning
			{
				display: none;
			}
		.top_menu_section
			{
				font-size: 15px;
			}
	}
	
@media screen and (max-width:1150px) 
	{
		.top_menu
			{
				height: auto;
				z-index: 999;
				padding: 10px 10px 10px 0px;
			}
		#top_menu_buttons
			{
				display: none;
			}
		.top_menu_turning
			{
				display: block;
			}
		.top_menu_section
			{
				width: 100%;
				font-size: 55px;
				text-align: right;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 40px;
			}
		.account_display
			{
				-moz-transform: matrix(0.7, 0, 0, 0.7, 85, -15);
				-webkit-transform: matrix(0.7, 0, 0, 0.7, 85, -15);
				-o-transform: matrix(0.7, 0, 0, 0.7, 85, -15);
				-ms-transform: matrix(0.7, 0, 0, 0.7, 85, -15);
			}
		.input_account
			{
				-moz-transform: matrix(0.7, 0, 0, 0.7, 30, -30);
				-webkit-transform: matrix(0.7, 0, 0, 0.7, 30, -30);
				-o-transform: matrix(0.7, 0, 0, 0.7, 30, -30);
				-ms-transform: matrix(0.7, 0, 0, 0.7, 30, -30);
			}
		.house_panel
			{
				-moz-transform: matrix(0.85, 0, 0, 0.85, -35, -10);
				-webkit-transform: matrix(0.85, 0, 0, 0.85, -35, -10);
				-o-transform: matrix(0.85, 0, 0, 0.85, -35, -10);
				-ms-transform: matrix(0.85, 0, 0, 0.85, -35, -10);
			}
		.interval_residence
			{
				-moz-transform: matrix(0.8, 0, 0, 0.8, -90, -13);
				-webkit-transform: matrix(0.8, 0, 0, 0.8, -90, -13);
				-o-transform: matrix(0.8, 0, 0, 0.8, -90, -13);
				-ms-transform: matrix(0.8, 0, 0, 0.8, -90, -13);  
			}
	}
	
@media screen and (max-width:1050px) 
	{
		.account_display
			{
				-moz-transform: matrix(0.6, 0, 0, 0.6, 118, -25);
				-webkit-transform: matrix(0.6, 0, 0, 0.6, 118, -25);
				-o-transform: matrix(0.6, 0, 0, 0.6, 118, -25);
				-ms-transform: matrix(0.6, 0, 0, 0.6, 118, -25);
			}
		.input_account
			{
				-moz-transform: matrix(0.6, 0, 0, 0.6, 45, -45);
				-webkit-transform: matrix(0.6, 0, 0, 0.6, 45, -45);
				-o-transform: matrix(0.6, 0, 0, 0.6, 45, -45);
				-ms-transform: matrix(0.6, 0, 0, 0.6, 45, -45);
			}
		.house_panel
			{
				-moz-transform: matrix(0.7, 0, 0, 0.7, -75, -25);
				-webkit-transform: matrix(0.7, 0, 0, 0.7, -75, -25);
				-o-transform: matrix(0.7, 0, 0, 0.7, -75, -25);
				-ms-transform: matrix(0.7, 0, 0, 0.7, -75, -25);
			}
		.interval_residence
			{
				-moz-transform: matrix(0.7, 0, 0, 0.7, -170, -26);
				-webkit-transform: matrix(0.7, 0, 0, 0.7, -170, -26);
				-o-transform: matrix(0.7, 0, 0, 0.7, -170, -26);
				-ms-transform: matrix(0.7, 0, 0, 0.7, -170, -26);  
			}
	}
	
	

.adaptive_tbl_1
	{
		transition: 0.5s;
	}
.adaptive_tbl_2
	{
		transition: 0.5s;
	}
.adaptive_tbl_3
	{
		transition: 0.5s;
	}
			

	
@media screen and (max-width:3000px) 
	{
		.adaptive_tbl_1
			{
				display: table-cell; 
				width: 24%;
			}
		.adaptive_tbl_2
			{
				display: table-cell; 
				width: 48%;
			}
		.adaptive_tbl_3
			{
				display: table-row;
			}
	}
	
@media screen and (max-width:1200px) 
	{
		.adaptive_tbl_1
			{
				display: table-cell; 
				width: 48%;
			}
		.adaptive_tbl_2
			{
				display: table-row; 
				width: 96%;
			}
		.adaptive_tbl_3
			{
				display: table;
				width: 100%;
			}
	}
	
	
	
@media screen and (max-width:900px) 
	{
		.adaptive_tbl_1
			{
				display: table; 
				width: 99%;
			}
		.adaptive_tbl_2
			{
				display: table; 
				width: 100%;
			}
		.adaptive_tbl_3
			{
				display: table;
				width: 100%;
			}
	}
	




	
	
	