<meta charset = "utf-8">


					 
<p style = "text-align: right;">
УТВЕРЖДЕН<br>
Директор<br>
ООО «Солнечный берег»<br>
Е. А. Кулык<br>
«25» марта 2019 г.
</p>



<p style = "text-align: center;"><strong>ДОГОВОР ВОЗМЕЗДНОГО ОКАЗАНИЯ УСЛУГ</strong></p>



<p style = "text-align: center;" >(ПУБЛИЧНАЯ
ОФЕРТА)</p>



<p>Настоящий договор на оказание услуг по временному размещению и
проживанию в Клуб-отеле «Старая провинция» (далее – Договор), является Офертой
(предложением к заключению договора) Общества с ограниченной ответственностью
«Солнечный берег» (далее – Исполнитель), для Заказчика (Потребителя услуг) –
лица, намеренного за вознаграждение воспользоваться услугами по временному
размещению и проживанию в Клуб-отеле «Старая провинция» на территории
Российской Федерации, расположенной по адресу: Челябинская область, Аргаяшский
район, озеро Кум-Куль, Клуб-отель «Старая провинция», как в своих личных
интересах, так и в интересах иных указанных Заказчиком лиц (далее – Заказчик
и/или Потребитель услуг).</p>



<p>Акцепт (принятие предложения к заключению договора) настоящей
Оферты осуществляется путем бронирования номера(ов) в Клуб-отеле «Старая
провинция» через веб-сайт Исполнителя <a style = "color: red; font-weight: bold;">http://province74.ru/</a>
или по телефону через уполномоченное Исполнителем лицо для принятия заказов на
бронирование и&nbsp; их предварительной
оплаты.</p>



<p>Настоящая публичная оферта на предоставление услуг (далее по
тексту &#8211; Договор) заключается в особом порядке: путем акцепта настоящего
Договора, содержащего все существенные условия договора, без подписания
сторонами.</p>



<p>Настоящий Договор имеет юридическую силу в соответствии со ст. 434
Гражданского кодекса Российской Федерации и является равносильным договору, подписанному
сторонами.</p>



<p>Настоящий Договор является договором присоединения. Фактом,
подтверждающим принятие изложенных ниже условий, и акцептом настоящей публичной
оферты является заказ услуг (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт
оферты равносилен заключению договора на условиях, изложенных в оферте).</p>



<p>Настоящий Договор считается заключенным с момента его акцепта и
действует до исполнения сторонами всех своих обязательств по настоящему
Договору. </p>



<p>Оплачивая услуги Исполнителя, Заказчик полностью соглашается с
условиями настоящего Договора, означает безоговорочное присоединение ко всем
условиям Договора без каких – либо изъятий и ограничений.</p>



<p>Исполнитель публикует настоящий договор, являющийся публичным
договором-офертой, адресованным заказчикам (неопределенному кругу лиц, в
дальнейшем в единственном числе &#8211; Заказчик) о нижеследующем:</p>

<br><br>

<p><strong>1. ОСНОВНЫЕ ОПРЕДЕЛЕНИЯ</strong></p>



<p>В Договоре используются следующие основные определения:</p>



<p>1.1. <strong>Оферта </strong>– настоящий договор на оказание услуг по
временному размещению и проживанию в Клуб-отеле «Старая провинция» (Договор),
размещаемый в сети Интернет на сайте (веб-сайте) Исполнителя: http://province74.ru/. В
соответствии с Договором слова оферта и Договор являются равнозначными.</p>



<p>1.2. <strong>Акцепт </strong>– полное и безоговорочное принятие Оферты
(условий настоящего Договора) путем бронирования номера(ов) в Клуб-отеле
«Старая провинция» через веб-сайт Исполнителя <a style = "color: red; font-weight: bold;">http://province74.ru/</a>
или по телефону через уполномоченное Исполнителем лицо для принятия заказов на
бронирование и&nbsp; их предварительной оплаты.</p>



<p>1.3. Исполнитель – ООО «Солнечный берег» (ИНН 7449108612; ОГРН
1127449002493; электронная почта <a style = "color: red; font-weight: bold;">zakaz@province74.ru</a>).</p>



<p>1.4. Заказчик (Потребитель услуг) – лицо, заказывающее услуги в
отношении себя лично и (или) от имени иных лиц, в том числе законный
представитель несовершеннолетнего лица, которые намерены воспользоваться
услугами Исполнителя по временному размещению и проживанию в Клуб-отеле «Старая
провинция». Физическое или юридическое лицо, заключившее настоящий Договор путем
акцепта оферты на условиях, содержащихся в настоящем
договоре (оферте).</p>

<br><br>

<p><strong>2. ПРЕДМЕТ ДОГОВОРА</strong></p>



<p>2.1. По настоящему договору Исполнитель обязуется по заданию Заказчика
оказать услуги по временному размещению и проживанию в Клуб-отеле
«Старая провинция» Заказчика и (или) указанных
Заказчиком лиц, а Заказчик обязуется оплатить эти услуги в сроки и в порядке,
указанными в настоящем Договоре.</p>



<p>2.2. Бронирование номера (места в номере) и (или) заселение Заказчика
и (или) лиц, в пользу которых Заказчиком заключен настоящий Договор, в Клуб-отель
«Старая провинция» означает и подтверждает&nbsp;
полное и безоговорочное согласие Заказчика и всех Потребителей услуг
(гостей) с условиями настоящего Договора, Правил проживания и пребывания для
гостей в Клуб-отеле «Старая провинция», а также означает и подтверждает полное
ознакомление Заказчика и всех Потребителей услуг (гостей) со всей необходимой
информацией о предоставляемых Исполнителем услугах, в том числе об адресе
(месте нахождения) Исполнителя, о полном наименовании Исполнителя, о месте
нахождения Клуб-отеля «Старая провинция», о характеристике номера(ов), о цене
номера(ов) (места в номере), о перечне услуг, которые входят в цену номера, о
порядке и форме оплаты услуг, о сроке, в течение которого заказанный номер
считается забронированным.</p>



<p>2.3. Информация о перечне, содержании и потребительских свойствах
услуг Исполнителя указана на веб-сайте Исполнителя <a style = "color: red; font-weight: bold;">http://province74.ru/</a> и/или
в администрации Клуб-отеля «Старая провинция». <strong></strong></p>

<br><br>

<p><strong>3. ПОРЯДОК БРОНИРОВАНИЯ, РАСЧЕТОВ И ЗАКЛЮЧЕНИЯ ДОГОВОРА</strong></p>



<p>3.1. Бронирование осуществляется через уполномоченное Исполнителем
лицо по телефону Клуб-отеля «Старая провинция», указанному на веб-сайте Исполнителя
<a style = "color: red; font-weight: bold;">http://province74.ru/</a>, либо
через веб-сайт Исполнителя <a style = "color: red; font-weight: bold;">http://province74.ru/</a>. </p>



<p>3.1.1.&nbsp;Потребитель оформляет заказ на бронирование номеров
через веб-сайт Исполнителя в разделе «Бронирование», размещенного в главном
меню веб-сайта Исполнителя, путем заполнения страницы заказа.&nbsp;</p>



<p>В случае возникновения спора по поводу заключения договора,
документы, подтверждающие оплату услуг по договору, будут являться
подтверждением заключения договора между Исполнителем и Заказчиком.&nbsp;</p>



<p>3.1.2.&nbsp;Заказчик
может оформить заказ на бронирование номера(ов) по телефону путем обращения к
уполномоченному Исполнителем лицу по телефону, размещенному в главном меню
сайта, путем передачи необходимой информации для оформления заказа.&nbsp;</p>



<p>Оплата
заказа может осуществляться посредством безналичного расчета либо внесением
наличных денежных средств в кассу Исполнителя. Реквизиты для оплаты заказа,
оформленного по телефону, размещены в разделе «Оплата» в главном меню веб-сайта
Исполнителя. В случаях, когда Заказчиком является юридическое лицо, Исполнитель
направляет Заказчику &#8211; юридическому лицу счет на
оплату с указанием суммы, подлежащей оплате, и реквизитов, по которым должна
быть произведена оплата.</p>



<p>3.2. До внесения предоплаты в размере, указанном Заказчику при
бронировании, бронь считается временной и действует в течение одних суток с
момента бронирования. </p>



<p>3.3. Бронирование считается гарантировано подтвержденным с момента
подтверждения Исполнителем возможности выполнения заказанных услуг или
альтернативных вариантов и поступления предоплаты в размере не менее 30% от
стоимости заказанных услуг на расчетный счёт или в кассу Исполнителя.</p>



<p>3.4. Цена (стоимость) услуг, установленная Исполнителем, указана в
соответствующем разделе веб-сайта Исполнителя. Стоимость услуг Исполнителя по Договору
определяется в рублях Российской Федерации. НДС не предусмотрен. </p>



<p>3.5. Плата за проживание взимается в соответствии с единым
расчетным часом &#8211; 17.00 часов текущих суток по местному времени.</p>



<p>Заселение в номер производится&nbsp;
не&nbsp;ранее 17:00 часов дня, выселение из&nbsp;номера&nbsp;— не
позднее&nbsp;15:00 часов дня. После выписки из&nbsp;номера Заказчик обязан
покинуть территорию Клуб-отеля «Старая провинция» либо произвести доплату
согласно установленному порядку.</p>



<p>3.6. Продление проживания, задержка выезда или ранний заезд
возможны только в случае отсутствия брони на эти номера от других Заказчиков
(Потребителей услуг).&nbsp;</p>



<p>3.7.&nbsp;В случае расторжения договора по инициативе Заказчика (Потребителя
услуг) и отказа от услуг Исполнителя более чем за 30 суток до заселения Заказчику
(Потребителю услуг) оплаченная сумма возвращается в полном размере, в случае
уведомления о расторжении в срок от 30 до 10&nbsp;
суток (включительно) до заселения – Заказчик (Потребитель услуг) обязан
уплатить Исполнителю неустойку (штраф) в размере 50% от оплаченной суммы. В
случае расторжения договора по инициативе Заказчика (Потребителя услуг) и
отказа от услуг Исполнителя менее чем за 10 (десять) суток до заселения Заказчик
(Потребитель услуг) обязан уплатить Исполнителю неустойку (штраф) в размере
внесенной предварительной оплаты, то есть оплаченная сумма Заказчику
(Потребителю услуг) не возвращается.&nbsp;</p>



<p>3.8. В случае расторжения договора по инициативе Исполнителя в
связи с невозможностью оказания услуг по обстоятельствам, зависящим от
Исполнителя, внесенная Заказчиком (Потребителем услуг) предоплата возвращается:
до заселения в Клуб-отель «Старая провинция» &#8211;&nbsp;
в полном объеме, в период действия Договора и проживания Заказчика (Потребителя
услуг) – пропорционально стоимости проживания с учетом оставшегося времени для
оказания услуг по Договору.</p>



<p>3.9. Заселение Заказчика (Потребителя услуг) осуществляется исключительно
при предъявлении документа, удостоверяющего личность Заказчика (Потребителя
услуг).</p>



<p>3.10. Денежные средства, подлежащие возврату Заказчику, передаются
в той же форме, в какой они были оплачены (наличным или безналичным расчетом).</p>

<br><br>

<p><strong>4.
ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong></p>



<p>4.1.
<strong>Исполнитель обязан:</strong></p>



<p>4.1.1.
Доводить до сведения Заказчика объективную информацию о предоставляемых услугах
и иную информацию необходимую в рамках выполнения обязательств по настоящему
Договору, а также информацию о дополнительных услугах, оказываемых Исполнителем
за отдельную плату, а также о правилах проживания и пребывания для гостей
Клуб-отеля «Старая провинция» путем размещения указанной информации на Сайте
Исполнителя и на стендах &nbsp;Клуб-отеля «Старая провинция».</p>



<p>4.1.2.
Принять акцепт настоящей оферты со стороны Заказчика при возможности оказания
услуги в запрашиваемые Заказчиком сроки. Предоставить Заказчику номер соответствующей
категории, указанный в заказе на бронирование, после его оплаты Заказчиком.</p>



<p>4.1.3.
Обеспечить круглосуточное оформление приезда/отъезда прибывающих/убывающих
Заказчиков (Потребителей услуг).</p>



<p>4.1.4.
Предоставить Заказчику по первому требованию книгу жалоб и предложений.</p>



<p>4.1.5.
Соблюдать иные обязанности, предусмотренные настоящей офертой и законодательством
Российской Федерации.</p>



<p>4.2.
<strong>Исполнитель имеет право:</strong></p>



<p>4.2.1.
Требовать у Заказчика (Потребителя услуг) при заселении документ,
удостоверяющий личность.</p>



<p>4.2.2.
Самостоятельно определять состав специалистов, оказывающих услуги, а также
содержание программы отдыха.</p>



<p>4.2.3.
Самостоятельно определять формы и методы оказания услуг.</p>



<p>4.2.4.
Проводить корпоративные мероприятия и свадьбы на территории Клуб-отеля «Старая
провинция» в дни проживания других индивидуальных Заказчиков (Потребителей
услуг).</p>



<p>4.2.5.
В случае несвоевременного аннулирования Заказчиком заказа, помимо удержания
неустойки (штрафа), предусмотренной п.3.7. настоящего Договора, удержать с Заказчика
стоимость фактически понесенных расходов в соответствии с п. 4.4.2. настоящего
Договора.</p>



<p>4.2.6.
Требовать от Заказчика (Потребителя услуг) возмещения ущерба, нанесенного ему в
ходе проживания Заказчика (Потребителя услуг).</p>



<p>4.2.7.
Обратиться в правоохранительные органы в случае нарушения Заказчиком
(Потребителем услуг и сопровождающими его лицами) Правил проживания и
пребывания для гостей Клуб-отеля «Старая провинция», правил поведения в
общественных местах.</p>



<p>4.2.8.
Отказать в заключении договора и оказании услуг Заказчику (Потребителю услуг),
если тот ранее в период проживания в Клуб-отеле «Старая провинция» нарушал
общественный порядок и установленные Правила проживания и пребывания для гостей
Клуб-отеля «Старая провинция» и (или) причинил ущерб (убытки) Исполнителю и
отказался от их компенсации.</p>



<p>4.3.
<strong>Заказчик обязан:</strong></p>



<p>4.3.1.
Предоставить Исполнителю подлинные, достоверные и достаточные документы,
необходимые для оказания услуг, и соответственно нести ответственность за их подлинность
и несвоевременную передачу Исполнителю.</p>



<p>4.3.2.
При заселении в Клуб-отель «Старая провинция» предъявить паспорт и
свидетельство о рождении ребенка (для Заказчика – физического лица), а Заказчик
&#8211; юридическое лицо уполномочивает от своего имени представителя – отдыхающего
на подпись всех необходимых документов, также физическое лицо, которое указано
в заказе, листе бронирования с предоставлением аналогичных документов от своего
имени. При отсутствии указанных документов администратор вправе отказать в размещении.
Вся ответственность за материальные потери при этом ложится на Заказчика
(Потребителя услуг).</p>



<p>4.3.3.
Своевременно и в полном объеме производить оплату услуг в соответствии с условиями
настоящего Договора.</p>



<p>4.3.4.
О своих претензиях и жалобах уведомлять Исполнителя в письменной форме путем
внесения соответствующих записей в книгу жалоб и предложений либо путем составления
претензии. Если в день выезда Заказчик не предъявит Исполнителю претензию, настоящий
договор считается выполненным своевременно, надлежащим образом и в полном объеме
и соответственно составления и подписания Акта об оказании услуг не требуется.</p>



<p>4.3.5.
Принимать меры личной гигиены и профилактики по инфекционным заболеваниям в
соответствии с принятыми нормами здравоохранения и общечеловеческими принципами.
При наличии заболевания (или признаков болезни), передающихся воздушно – капельным
путем запрещается посещение Клуб-отеля «Старая провинция» до истечения
инкубационного периода или получения разрешения от врача. В случае заболевания
или плохого самочувствия (Заказчика или сопровождающего Заказчиком лица)
Заказчик должен уведомить дежурного администратора, немедленно ограничить
контакт заболевшего с другими гостями и персоналом и обратиться за
квалифицированной медицинской помощью.</p>



<p>4.3.6.
В течение всего времени проживания и пребывания поддерживать чистоту в помещении
и на территории всего Клуб-отеля «Старая провинция» соблюдать санитарные и
противопожарные требования.</p>



<p>4.3.7.
Соблюдать условия проживания на территории Клуб-отеля «Старая провинция»,
установленные Правилами проживания и пребывания для гостей &nbsp;Клуб-отеля «Старая
провинция». Соблюдать запреты, установленные Исполнителем, в том числе
на проживание с животными; на курение в номерах и в иных местах, где курение
запрещено, на распитие спиртных напитков в общественных местах, свалку мусора
вне мест, отведенных для складирование мусора и иные запреты, указанные в
Правилах проживания и пребывания для гостей&nbsp;
Клуб-отеля «Старая провинция».</p>



<p>В
случае нарушения указанных правил, Заказчик подлежит принудительному выселению
со всеми совместно с ним проживающими лицами, без права требовать возврата оплаты
за услуги.</p>



<p>4.3.8.
В случае утери или порчи имущества Клуб-отеля «Старая провинция» возместить
причиненный Исполнителю ущерб.</p>



<p>4.4.
<strong>Заказчик имеет право:</strong></p>



<p>4.4.1.
Получать от Исполнителя информацию по вопросам организации и обеспечении
надлежащего качества Услуг.</p>



<p>4.4.2.
Отказаться от исполнения Договора при условии оплаты Исполнителю неустойки
(штрафа), предусмотренного п.3.7. настоящего Договора, и фактически понесенных
затрат на оказание услуг в размере стоимости одних суток проживания в
забронированном номере на данный период (для Заказчика – физического лица). В
случае отказа Заказчика – юридического лица от исполнения Договора до начала оказания
услуг или в процессе оказания услуг, Исполнитель вправе отказать в возврате оплаченной
суммы.</p>



<p>К
затратам относятся расходы Исполнителя, производимые для подготовки оказания услуг,
в том числе бронь, закупка продуктов, текущие расходы на рекламу и офисные
расходы (в т.ч. зарплаты сотрудников), затраты связанные с оплатой договоров по
организации услуг с третьими лицами, затраты на подготовку программ отдыха и
др.</p>

<br><br>

<p><strong>5. ОТВЕТСТВЕННОСТЬ СТОРОН И ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</strong></p>



<p>5.1. Исполнитель в соответствии с законодательством Российской
Федерации несет ответственность за вред, причиненный жизни, здоровью Заказчика
вследствие доказанных недостатков при оказании услуг.</p>



<p>5.2. Заказчик возмещает ущерб, причиненный по его вине имуществу Клуб-отеля
«Старая провинция». Заказчик несет ответственность за иные нарушения в
соответствии с Правилами проживания и пребывания для гостей Клуб-отеля «Старая
Провинция».</p>



<p>5.3. Исполнитель не несет ответственности за нарушение условий
настоящего Договора, если такое нарушение вызвано действием обстоятельств
непреодолимой силы. К таким обстоятельствам относятся: действия органов
государственной власти, пожар, наводнение, землетрясение, стихийные действия,
забастовки, гражданские волнения, беспорядки, природные и техногенные
катастрофы и аварии, не связанные с виновными действиями сторон. Об указанных
обстоятельствах Стороны должны немедленно или не позднее трех дней с момента их
наступления.</p>



<p>5.4. Погодные
явления в виде повышения или понижения температуры воздуха, в том числе
значительные, к форс-мажорным обстоятельствам не относятся и не освобождают
стороны от исполнения взятых на себя обязательств.</p>



<p>5.5. Споры по исполнению настоящего Договора подлежат рассмотрению
судом общей юрисдикции по месту нахождения Исполнителя с соблюдением
претензионного порядка при Заказчике физическом лице и арбитражным судом по
месту нахождения Исполнителя при Заказчике юридическом лице. Претензия в
письменном виде подлежит направлению по почтовому адресу Исполнителя и на
электронную почту <a style = "color: red; font-weight: bold;">zakaz@province74.ru</a>. Срок ответа на претензию: 15 рабочих дней с момента ее
получения.</p>



<p>5.6. Заказчик, оплативший заказ и тем самым согласившийся с
условиями настоящего договора, представляет интересы всех лиц, отдыхающих по
такому заказу, и несет ответственность перед Исполнителем за правильность
сообщенных в заказе данных о лицах, указанных в его заказе и за выполнение
всеми лицами Правил проживания и пребывания для гостей Клуб-отеля «Старая
провинция».</p>



<p>5.7. В случае неиспользования забронированных номеров и услуг
Заказчиком, Исполнитель ответственности не несет и внесенная оплата за такие
услуги возврату не подлежит.</p>



<p>5.8.
Заказчик (Потребитель услуг) принимает на себя все риски, связанные с
возможными заболеваниями травмами. Клуб-отель «Старая Провинция» не
обеспечивает транспортировку в медицинские учреждения, доставку врача в номер.
Исполнитель не несет ответственности за заражение Заказчика (или членов его
семьи), другими гостями инфекционными болезнями, передающихся воздушно – капельным
путем. Исполнитель принимает все возможные меры для недопущения распространения
заболеваний. При выявлении у гостя (членов его семьи) инфекционного заболевания
или при подозрении на такое заболевание Исполнитель оставляет за собой право прервать
оказание услуг. Заказчик (Потребитель услуг), при принятии решения о его
выселении, должен немедленно освободить номер и обратиться за медицинской
помощью.</p>



<p>5.9.
Проживание с животными &nbsp;запрещено. Если
Заказчик, в нарушение Правил проживания и пребывания для гостей Клуб-отеля
«Старая провинция» без уведомления администрации привозит для проживания
животное, то Исполнитель при обнаружении данного факта, имеет право расторгнуть
с Заказчиком Договор (при этом услуга по проживанию считается оказанной,
денежные средства возврату не подлежат) и потребовать оплаты денежных средств
за дезинфекцию номера.</p>



<p>5.10.
Стороны несут ответственность за неисполнение или ненадлежащее исполнение условий
настоящего Договора в соответствии с действующим законодательством РФ и условиями
настоящего Договора.</p>


<br><br>

<p><strong>6. ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ</strong></p>



<p>6.1. Для выполнения условий Договора Заказчик (Потребитель услуг)
соглашается предоставить и дает согласие на обработку предоставленных им личных
персональных данных (и данных третьих лиц) в соответствии с Федеральным законом
от 27.07.2006г. № 152 – ФЗ «О персональных данных» на условиях и для целей
надлежащего исполнения настоящего Договора. Исполнитель обязуется не раскрывать
третьим лицам и не распространять персональные данные Заказчика без согласия
последнего, если иное не предусмотрено федеральным законом. Исполнитель
обязуется осуществлять обработку персональных данных Заказчика исключительно с
целью оказания Заказчику услуг по организации проживания, питания и отдыха.</p>



<p>6.2. Заказчик дает согласие на размещение любых фотографических и
видео изображений, видеосюжетов с изображением как его лично, так и его
несовершеннолетних детей, а также лиц, в интересах которых он действовал
(супруг, супруга, иные лица, от лица которых Заказчик бронирует номер),
сделанных во время пребывания Заказчика в Клуб-отеле «Старая провинция». Размещение
возможно в сети Интернет (на сайте <a style = "color: red; font-weight: bold;">http://province74.ru/</a>), в
любых социальных сетях и т.п.), печатных изданиях, на телевидении, наружной
рекламе и т.д. – на любых условиях и в целях, не противоречащих действующему
законодательству РФ, в том числе в рекламных, информационных и иных материалах,
без выплаты вознаграждения, на срок – до отзыва данного согласия в письменной
форме.</p>



<p>6.3. Исполнитель гарантирует конфиденциальность в отношении
персональных данных Заказчика и третьих лиц и предоставляет доступ к
персональным данным только тем сотрудникам, которым эта информация необходима
для выполнения условий Договора, обеспечивая соблюдение указанными лицами
конфиденциальности персональных данных и безопасности персональных данных при
их обработке.</p>

<br><br>

<p><strong>7.
ПОРЯДОК ИЗМЕНЕНИЯ И РАСТОРЖЕНИЯ НАСТОЯЩЕГО ДОГОВОРА</strong></p>



<p>7.1.
Исполнитель оставляет за собой право в любое время вносить изменения в условия
настоящего Договора. Изменения вступают в силу с момента опубликования их на Сайте
Исполнителя.</p>



<p>7.2.
Настоящий Договор, может быть, расторгнут Исполнителем в одностороннем порядке
в случае нарушения Заказчиком Правил проживания и пребывания для гостей Клуб-отеля «Старая провинция»<em>.</em></p>



<p>7.3.
Заказчик вправе отказаться от Договора в любое время с учетом положений &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;п.3.7. и п. 4.4.2.
настоящего Договора.</p>



<p>7.4.
С Правилами проживания и пребывания для гостей Клуб-отеля
«Старая провинция», с описанием номера, объемом, качеством и стоимостью услуг
Заказчик (Потребитель услуг) ознакомлен и согласен. До сведения Заказчика
(Потребителя услуг) доведена вся информация, предусмотренная действующим
законодательством РФ об Исполнителе и услугах.</p>

<br><br>

<p><strong>8. СРОК
ДЕЙСТВИЯ ДОГОВОРА</strong></p>



<p>8.1.
Настоящий Договор считается заключенным с момента его
акцепта и действует до исполнения сторонами всех своих обязательств по
настоящему Договору. </p>

<br><br>

<p style = "margin-left: 10%;"><strong>9. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</strong></p>


<p style = "margin-left: 10%;">
ООО «Солнечный берег»<br>
Юр. адрес 454010, г.Челябинск, Копейское<br>
шоссе, д. 48, оф. 2.<br>
ИНН/КПП 7449108612/744901001<br>
ОГРН 1127449002493<br>
Р/с 40702810372000000123<br>
В Отделение № 8597 Сбербанка России, г.<br>
Челябинск<br>
К/с 30101810700000000602<br>
БИК 047501602<br>
</p>



<p style = "margin-left: 10%;">Директор Кулык Елена Анатольевна</p>

<br><br>

